<h2>员工列表</h2>

<table class="table table-striped">
  <tr>
    <th>姓名</th>
    <th>性别</th>
    <th>职位</th>
    <th>出生日期</th>
    <th>工作网点</th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.gender %></td>
    <td><%= employee.title %></td>
    <td><%= employee.birth %></td>
    <td><%= employee.site.name %></td>
    <td><%= link_to '更改', edit_employee_path(employee) %></td>
    <td><%= link_to '删除', employee, method: :delete, data: { confirm: '你确认吗?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新建员工', new_employee_path %>
<script>
    $(function() {
        $( ".datepicker" ).datepicker();
    });
</script>