<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "所属网点" %><br />
    <% if current_user.site_id.nil? %>
      <%= f.select(:site_id, options_from_collection_for_select(Site.all,:id,:name))%>
    <% else %>
      <%= f.select(:site_id, options_from_collection_for_select(Site.where(:id => current_user.site_id),:id,:name))%>
    <% end %>
  </div>
  <div class="field">
    <%= f.label "客户" %><br />
    <% if current_user.site_id.nil? %>
       <%= f.select(:customer_id, options_from_collection_for_select(Customer.all,:id,:address)) %>
    <% else %>
       <%= f.select(:customer_id, options_from_collection_for_select(Customer.find_all_by_site_id(current_user.site_id),:id,:address)) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label "园丁" %><br />
    <% if current_user.site_id.nil? %>
      <%= f.select( :employee_id, options_from_collection_for_select(Employee.all,:id,:name))%>
    <% else %>
      <%= f.select( :employee_id, options_from_collection_for_select(Employee.find_all_by_site_id(current_user.site_id),:id,:name))%>
    <% end %>
  </div>
  <div class="field">
    <%= f.label "起始时间" %><br />
    <%= f.datetime_select :start_time,:use_month_numbers => true %>
  </div>
  <div class="field">
    <%= f.label "结束时间" %><br />
    <%= f.datetime_select :end_time,:use_month_numbers => true %>
  </div>
  <div class="field">
    <%= f.label "养护内容和完成情况" %><br />
    <%= f.text_area :remarks %>
  </div>
  <div class="field">
    <%= f.label "已调度" %><br />
    <%= f.check_box :planned %>
  </div>
  <div class="field">
    <%= f.label "已派工" %><br />
    <%= f.check_box :dispatched %>
  </div>
  <div class="field">
    <%= f.label "完成" %><br />
    <%= f.check_box :finished %>
  </div>
    <div class="field">
      <%= f.label "养护质量评分" %><br />
      <%= f.number_field :score %>
    </div>
    <div class="field">
      <%= f.label "客户确认" %><br />
      <%= f.check_box :verified %>
    </div>
  <div class="actions">
    <%= f.submit  "提交"%>
  </div>
<% end %>
