<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "姓名" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "电话" %><br />
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label "手机号码" %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label "电子邮件" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "地址" %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label "花园面积" %><br />
    <%= f.text_field :squre %>
  </div>
  <div class="field">
    <%= f.label "居住人数" %><br />
    <%= f.number_field :headcount %>
  </div>
  <div class="field">
    <%= f.label "工作单位" %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label "工作类型" %><br />
    <%= f.text_field :job_type %>
  </div>
  <div class="field">
    <%= f.label "兴趣爱好" %><br />
    <%= f.text_field :interests %>
  </div>
  <div class="field">
    <%= f.label "服务类别" %><br />
    <%= f.number_field :service_type %>
  </div>
  <div class="field">
    <%= f.label "备注" %><br />
    <%= f.text_area :remark %>
  </div>
    <div class="field">
      <%= f.label "所属网点" %><br />
      <% if current_user.site_id.nil? %>
          <%= f.select(:site_id, options_from_collection_for_select(Site.all,:id,:name))%>
      <% else %>
          <%= f.select(:site_id, options_from_collection_for_select(Site.where(:id => current_user.site_id),:id,:name))%>
      <% end %>
    </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>
